.navbar-brand-box {
    text-align: left;
}

body[data-sidebar=dark] .mm-active .active i {
    color: #54becc!important;
}

body[data-sidebar=dark] .mm-active .active {
    color: #56becc!important;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: #74788d;
    font-family: dripicons-v2!important;
    font-style: normal!important;
    font-weight: 400!important;
    content: "\6d";
}

.text-right {
    text-align: right !important;
}

table.dataTable td,
table.dataTable th {
    vertical-align: middle;
}

.card-header {
    background-color: rgb(85 110 230 / 16%);
    padding-top: 1.25rem;
}

.avatar-xs {
    height: 3rem;
    width: 3rem;
}

.form-control {
    /* padding: 0.8rem; */
}

.auth-logo .auth-logo-dark {
    height: 45px;
}

.font-28 {
    font-size: 28px !important;
}

.font-21 {
    font-size: 21px !important;
}

.btn-circle {
    font-size: 18px;
    border: 1px solid #92a7c2;
    width: 40px;
    height: 40px;
    padding: 0.4rem;
    border-radius: 50%;
    border-style: dashed;
}

.btn-transparent {
    background-color: transparent;
}

.btn-circle:hover {
    border-style: solid;
}

.font-18px {
    font-size: 18px !important;
}

.table-edits input,
.table-edits select,
.the-message-maker input:focus {
    display: block;
    width: 100%;
    padding: .47rem .75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* padding: 0.5rem 0.5rem; */
    height: 35px;
}

.table-edits input:focus {
    border-color: #556ee6;
    border-width: 2px;
}

.table-edits .text-right input {
    text-align: right;
}

.add-field {
    cursor: pointer;
}

.add-field:hover {
    color: #556ee6
}

.height-calc-21 {
    height: calc(100% - 23px);
}

.cell-change {
    width: 190px;
}

.table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before {
    top: 42%;
    left: 10px;
    height: 25px;
    width: 25px;
    margin-top: -7px;
    display: block;
    position: absolute;
    color: #fff;
    border: none;
    border-radius: 14px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0!important;
    line-height: 24px;
    content: '+';
    background-color: #556ee6;
    cursor: pointer;
}

.table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control {
    padding-left: 45px;
}

table.dt-responsive .child {
    padding: 30px;
    --bs-table-accent-bg: rgb(85 110 230 / 16%);
    border: 1px solid black;
    border-top: none;
    border-color: #333a4042;
}

table.dt-responsive .parent td {
    border-top: 1px solid black;
    border-bottom: none;
    border-color: #333a4042;
}

table.dt-responsive .parent td:first-child {
    border-left: 1px solid black;
    border-color: #333a4042;
}

table.dt-responsive .parent {
    border-right: 1px solid black;
    border-color: #333a4042;
}

table.dt-responsive ul {
    margin: 0px;
    padding: 0px;
}

.btn--icon--text i {
    font-size: 20px;
    margin-right: 1rem;
    padding-right: 1rem;
}

.border-dash {
    border: 1px solid dashed !important;
}

.email-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 0px;
    background: #00000052;
    z-index: 1050;
    /* display: none; */
    /* transform: scaley(.5); */
    transition: 0.3s;
}

.the-message-maker {
    transform: scale(.1);
    transform-origin: right bottom;
    transition: 0.3s;
}

.email-overlay-transform {
    transform: scale(1);
}

.email-overlay .card {
    border-radius: 0px;
}

.email-overlay>.header-item {
    height: 50px;
    color: white;
}

.email-overlay .card-header h4,
.email-overlay .card-header .noti-icon i {
    color: white;
}

.text-white {
    color: white !important;
}

.the-message-maker {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
    max-width: 600px;
}

.mr-15px {
    margin-right: 15px !important;
}

.mr-7px {
    margin-right: 7px !important;
}

.upload-contacts .modal-content,
.upload-contacts .modal-header,
.selected-contacts .modal-header,
.selected-contacts .modal-content {
    border-radius: 0px;
    border: none;
}

.mr-0 {
    margin-right: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.the-selected-contacts {
    width: 426px;
    /* border: 1px solid; */
    /* padding: 2px 5px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-overflow: ellipsis;
    /* height: 25px; */
    display: block;
}

.float-left {
    float: left !important;
}

.selected-contacts .avatar-xs {
    height: 2rem;
    width: 2rem;
}

.selected-contacts .table>:not(caption)>*>* {
    padding: 0.5rem .5rem;
}

.page-loader {
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 1000000;
    position: fixed;
    bottom: 1;
    left: 1;
}